[submodule "SDKs/Xero-NetStandard"]
	path = SDKs/Xero-NetStandard
	url = https://github.com/XeroAPI/Xero-NetStandard
[submodule "SDKs/Xero-OpenAPI"]
	path = SDKs/Xero-OpenAPI
	url = https://github.com/XeroAPI/Xero-OpenAPI